/****** General ***********/


/* reset margin added margin:0; */
* {
    font-family: 'Raleway', sans-serif;
    margin:0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 2rem;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    gap:30px;
}
/* added main flex display and gap instead of margin and padding for each parts*/ 
main {
    display:flex;
    flex-direction: column;
    gap:35px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    /* transition part of card:hover effect optional */
    transition:transform 0.3s;
    /* optional cursor effect on card*/
    cursor: pointer;
}
/* hover effect over a card optional */
.card:hover {
    transform: scale(1.05);
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}
/******** Header logo/nav ********/

header {
    display: flex;
    justify-content: space-between;

}
/*change logo size  and position*/
header img {
    display:flex;
    width: 80px;
    padding:2rem 0 2rem 0;
}

/* Rectification nav width ? optional ?*/
nav {
    height:fit-content;
    width:200px;
}

nav > ul{
    padding:0;/* reset padding over main-container rules */
    padding-top:1rem;
    list-style-type: none;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
}

/* nav hover effect */
nav a:hover{
    border-top:var(--main-color) solid 2px;
    color:var(--main-color);
    padding-top: 0.9rem;
}

/****** Research form  ******/

::placeholder { /* get placeholder in the correct color/font  if placeholder has to be change otherwise remove this */
    color:black;
    opacity: 1; /* firefox */
}
.research {
    display:flex;
    flex-direction: column;
    gap:35px;
}
.research-form {
    width:fit-content;
    display:flex;

}
/* Research input style */
.research-form input{
    text-align: center;
    font-weight: bolder;
    border:none;
    border-bottom:var(--main-bg-color) solid 2px;
    border-top:var(--main-bg-color) solid 2px ;
}
.research-form input:focus{
    outline: none;
}
/*research label style */
.research-form label{
    padding:1rem 1rem 1rem 1rem;
    background-color: var(--main-bg-color);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    
}
/* research button style */
.research-form button{
    font-weight: bolder;
    border:var(--main-color) solid 1px ;
    color:var(--main-bg-color);
    background-color: var(--main-color);
    padding:15px 16px 15px 16px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    /* optional cursor effect on button*/
    cursor: pointer;
}

/** hide mobile button by default  **/
.mobile-button {
    display: none;
}
.research-text p {
    margin-top: 0.5rem;
}

/* filter selection */
.filter-content {
    display:flex;
    align-items: center;
    gap:15px;
}

 /* used class filter-box_list before removed it to simply call ul from filter-box */
.filter-content ul {
    padding:0;
    list-style-type: none;
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:15px;
}
    /*box style */
.filter-content li{ 
    border:var(--main-bg-color) solid 2px ;
    border-radius: 25px;
    padding:0.8rem 1.2rem 0.8rem 1.2rem;  /* set  border box size  */
}
.filter-content li:hover{
    background-color:var(--filter-bg-color);
    /* optional cursor effect on filter*/
    cursor: pointer; 
}
.filter-content i {
    margin-right: 0.5rem;
}

/** info bar **/
.info-content {
    display:flex;
    align-items: center;
}
/* info icon */
.info-content i{
    width:28px;
    height:28px;
    font-size: 12px;
    display:flex;
    margin-right: 10px;
    border:var(--main-bg-color) solid 1px;
    border-radius: 20px;
    justify-content:center;
    align-items: center;
}

/****** accommodation And popular ***********/
.accommodation-and-popular {
    display: flex;
    justify-content: space-between;
    gap:40px;
}

.accommodation-and-popular section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 2rem;
    box-sizing: border-box;
}

/****** accommodation ***********/
.accommodation {
    width: 65%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap:30px;
}

/* hebergement card container*/
.accommodation-cards {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:25px;
}
.accommodation-cards a{
    width:30%;
}
.accommodation-cards .card{
    display:flex;
    flex-direction:column;
    gap:10px;
    height:220px; /* add size to the card for responsiv desktop size */
}
/* accommodation card img */
.accommodation-cards  img{
    width:100%;
    height:60%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


/* accommodation card text container */
.accommodation-cards .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:8px;
    padding-left:0.5rem;
}

/* accommodation card text */
.accommodation-cards .card-title {
    margin-bottom: 0.5rem;
    font-size: 15px;
}
.accommodation-cards .card-subtitle {
    font-size:14px;
}
/****** popular ***********/
.popular {
    width: 32%;
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-cards .card {
    display: flex;
    margin-top: 33px;
}

.popular-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.popular-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.popular-cards .card-subtitle {
    margin: 0;
}

.popular-cards .card-rating {
    margin-bottom: 5px;
}

/******** Activity **********/
.activity {
    display: flex;
    flex-direction: column;
    gap:30px;
    padding:2rem;
}

.activity-cards {
    display:flex;
    justify-content: space-between;
    gap:30px;
}
.activity-cards a{
    width:100%;
}
.activity-cards .card {
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    padding:0; /* to put img over card*/
}
.activity-cards img{
    width:100%;
    height: 400px; 
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.activity-cards .card-content {
    padding:1rem;
}

/********* Footer *********/
footer {
    background-color:var(--main-bg-color);
}
footer section{
    display:flex;
    flex-direction: row;
}
footer .footer-box_content {
    display: flex;
    flex-direction: column;
    padding:2rem;
    width:50%;
    gap:20px;
}
/* The code below corresponds to the responsive version only. */
/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media(max-width: 1024px) {

    /* filter selection */
    .filter-content {
        display:flex;
        flex-direction: column;
        align-items:flex-start;
        gap:20px;
    }
    .info-content i{
        width:25px;
        height:25px;
        border:var(--filter-bg-color) solid 1px;
    }
    .accommodation-and-popular {
        flex-direction: column;
    }
    /******* accommodation*******/
    .accommodation {
        width: 100%;
        
    }
    /* to fix a little responsiv issue with hebergement-cards text */
    .accommodation-cards .card-content {
        white-space: nowrap;
    }
    /**** popular ****/
    .popular {
        width: 100%;
    }
    .popular-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .popular-cards a {
        width: 30%;
    }
    
    .popular-cards .card-title {
        font-size: 14px;
    }
    .popular-cards .card-subtitle {
        font-size: 13px;
    }
    /* activity*/

    .activity-cards img{
        width:100%;
        height:200px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .activity-cards .card-content{
        padding-bottom:1.5rem;
    }
}

/* Small devices (phones, less than 768px) */
@media(max-width: 767.98px) {
    .main-container {
        
        padding:0;
    }
    /* header */

    header {
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    /* header logo */
    header img{
        padding:1rem 0 1rem 0;
    }
    /* header nav */
    nav{
        width:100%;
    }
    nav ul{
        display: flex;
        justify-content: space-around;
        text-align: center;
    }
    nav li{
        width:100%; /* make the two <li> centered on left side and right side */
        border-bottom:var(--main-bg-color) solid 2px;
        padding-bottom: 1rem;
        font-size: 16px;
    }
    nav li:hover{
        border-bottom:var(--main-color) solid 2px;
        color:var(--main-color);
        padding-bottom: 1rem;
    }
    nav a:hover{
        border-top:none;
    }
    /***** Research *****/
    .research {
        display: flex;
        flex-direction: column;
        padding: 0 20px 0 20px;
        gap:35px;
    }
    .research-form {
        margin:0;
        width:100%;
    }
    .research-form .mobile-button{
        display:flex;
    }

    .research-form input{
        width:100%;
        margin-right:-1rem; /* to give effect of research input going behind the research button */
    }
    .research-form button .desktop-button{
        display: none;
    }
    .research-form button{
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;

    }
    /** filter **/
    .filter-content {
        width:100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: start;
    }
    .filter-content ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap:10px;
        font-size: 14px;
        width:100%;
    }
    /* filter box size */
    .filter-content li{
        width:35%;
    }
    /* info icons */
    .info-content i{
        min-width:25px;
        min-height:25px;
    }
  
    /**** hebergement and popular **/
    .accommodation-and-popular {
        flex-direction: column-reverse;
    }
    .accommodation-and-popular section {
        border-radius:0;
        padding:20px;
    }
    /* popular */
    .popular-cards {
        flex-direction: column;
    }
    .popular {
        margin:0;
    }
    .popular-cards a{
        width:100%;
    }
    .accommodation-and-popular section.accommodation {
        background-color: white; /** i can also use !important rules that force the rule over global rules  with the selector .accommodation only **/ 
    }
    /* accommodation */
    .accommodation-cards {
        flex-direction: column;
    }
    .accommodation-cards a{
        width:100%;
    }
    /* activity */
    .activity-cards {
        flex-direction: column;
    }    
    /* footer */
    .footer-content {
        flex-direction: column;
    }
}