/****** General ***********/


/* reset margin added margin:0; */
* {
    font-family: 'Raleway', sans-serif;
    margin:0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 2rem; /* reduction padding left-right */
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}
/******** Header logo/nav ********/

header {
    margin-bottom:3rem;
    display: flex;
    justify-content: space-between;

}
/*change logo size  and position*/
header img {
    display:flex;
    width: 80px;
    padding:1rem 1rem 1rem 0;

}

/* Rectification nav width ? optional ?*/
nav {
    height:fit-content;
    width:200px;
}

nav ul{
    padding:0;/* reset padding over main-container rules */
    padding-top:1rem;
    list-style-type: none;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
    
}

/* nav hover effect */
nav a:hover{
    border-top:2px solid var(--main-color);
    color:var(--main-color);
    padding-top: 10px;
}

/****** Research form  ******/

::placeholder { /* get placeholder in the correct color/font  if placeholder has to be change otherwise remove this */
    color:black;
    opacity: 1; /* firefox */
}

.research-form {
    margin:2rem 0 2rem 0;
    display:flex;

}
/* Research input style */
.research-form input{
    text-align: center;
    font-weight: bolder;
    color:black;
    border:none;
    border-bottom:var(--main-bg-color) solid 2px;
    border-top:var(--main-bg-color) solid 2px ;
}
/*research label style */
.research-form label{
    padding:1rem 1rem 1rem 1rem;
    background-color: var(--main-bg-color);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    
}
/* research button style */
.research-form button{
    font-weight: bolder;
    border:var(--main-color) solid 2px ;
    color:white;
    background-color: var(--main-color);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

/** hide mobile button by default  **/
.research-form button i{
    display: none;
}
.research-text p {
    margin-top: 0.5rem;
}


/* filter selection */
.filter-box {
    display:flex;
    align-items: center;
    margin:2rem 0 2rem 0;
    
    
}

 /* used class filter-box_list before removed it to simply call ul from filter-box */
.filter-box ul {
    padding:0;
    list-style-type: none;
    display:flex;
    justify-content: space-between;
    align-items: center;
    
    
}
    /*box style */
.filter-box li{ 
    border:#F2F2F2 solid 2px ;
    border-radius: 25px;
    padding:0.8rem 1.2rem 0.8rem 1.2rem;
    margin:0 1rem 0 1rem; /* gap ? */
    
    

}
.filter-box li:hover{
    background-color:rgba(1, 110, 253, 0.1)

}
.filter-box i {
    margin-right: 0.5rem;
}

/** info bar **/
.info-box {
    display:flex;
    align-items: center;
    margin:2rem 0 2rem 0;
    

    
    
}
/* info icon */
.info-box i{
    width:24px;
    height:24px;
    text-align: center;
    padding-top: 5px;
    border:var(--main-bg-color) solid 1px;
    border-radius: 50%;
    margin-right: 15px;
    
    
    
}





/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    gap:30px;/* width?*/
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top:2rem;
    margin-bottom:2rem;
    
}
.hebergements-cards .card{
    width:230px;
    height:233px;
    display:flex;
    flex-direction:column;
    box-sizing: border-box;

}
.hebergements-cards img{
    width:100%;
    height:136px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.hebergements-cards .card-txt{
    margin-top: 0.5rem;
    margin-left:0.5rem;
}
.hebergements-cards .card-title {
    margin-bottom: 1rem;
}
.hebergements-cards .card-subtitle {
    margin-bottom: 0.5rem;
}
.hebergements-cards .card-rating {
    margin-left:0.5rem;
}

/*showmore link */
.showmore-link {
    margin-left:1rem;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/******** Activité **********/
.activity {
    padding:30px;
}
.activity-title {
    margin-top:2rem;
    margin-bottom: 2rem;
}
.activity-cards {   
    gap:30px; 
    display:flex;
    justify-content: space-between;
    align-items: center;


}
.activity-cards .card {
    width:100%;
    height:380px;
    display:flex;
    flex-direction: column;
    padding:0; /* to put img over card*/
}
.activity-cards img{
    width:100%;
    height: 300px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.activity-cards .card-text {
    margin-top: 1rem;
    margin-left:1rem;
}

/********* Footer *********/
footer {
    background-color:var(--main-bg-color);
}
footer section{
    margin-top: 2rem;
    display:flex;
    flex-direction: row;
    justify-content: center;
}
footer .footer-box_content {
    padding:20px;
    width:50%;
    display: flex;
    flex-direction: column;
    gap:20px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}